:root {
    --open-sans: 'Open Sans', sans-serif;
    --raleway: 'Raleway', sans-serif;
    --c-primary: #08A6E4;
    --c-primary-shadow: rgba(7, 172, 230, .16);
    --c-redish: #FB3B64;
    --c-green: #55DFB4;
    --c-black: #000000;
    --c-grey: #A5A5A5;
    --c-light-grey: #F7F7F7;
    --c-white: #ffffff;
}