:root {
    --font-primary: 'Open Sans', sans-serif;
    --font-secondary: 'Raleway', sans-serif;
    --c-primary: #08a6e4;
    --c-primary-shadow: rgba(7, 172, 230, .16);
    --c-redish: #FB3B64;
    --c-green: #55DFB4;
    --c-black: #000000;
    --c-navy: #13253B;
    --c-grey: #A5A5A5;
    --c-light-grey: #F7F7F7;
    --c-dark-grey: #707070;
    --c-white: #ffffff;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    margin: 0;
}

.container {
    width: 1352px;
    margin: 0 auto;
    padding: 0 15px;
}

.page-header {
    height: 70px;
    box-shadow: 0 3px 6px #00000029;

}
.page-header-container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.page-logo {
    text-decoration: none;
    color: var(--c-primary);
    font-size: 32px;
    font-family: var(--font-secondary);
    font-weight: 300;
}
.page-menu {
    height: 100%;
}
.page-menu__list {
    display: flex;
    height: 100%;
    justify-content: space-between;
}
.page-menu__list-el {
    height: 100%;
    padding: 0 40px;
}
.page-menu__list-link {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--c-grey);
    font-size: 11px;
    font-weight: 700;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 8px;
}
.page-menu__list-link:hover {
    border-bottom: 4px solid var(--c-primary);
    color: var(--c-black);
}
.open-section {
    height: 712px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
}
.open-section__title {
    font-size: 49px;
    font-family: var(--font-secondary);
}
.open-section__text {
    margin-top: 25px;
    font-size: 16px;
}
.open-section__link {
    text-decoration: none;
    color: var(--c-white);
    font-size: 16px;
    font-weight: 700;
    background-color: var(--c-primary);
    box-shadow: var(--c-primary-shadow);
    border-radius: 40px;
    height: 70px;
    padding: 20px 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.open-section__img {
    width: 100%;
}

.statistics-section {}
.statistics-section__title {
    font-family: var(--font-secondary);
    font-size: 36px;
    text-align: center;
}
.statistics-section__row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.statistics-section__col {
    padding: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-height: 168px;
    position: relative;
}
.statistics-section__col::before {
    content: "";
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: var(--c-redish);
    position: absolute;
    top: 0;
}
.statistics-section__col:nth-of-type(2)::before {
    background-color: var(--c-primary);
}
.statistics-section__col:last-of-type::before {
    background-color: var(--c-green);
}
.statistics-section__img {
    height: 44px;
    /*width: 52px;*/
    z-index: 9999;
    position: relative;
    left: 20px;
}
.statistics-section__number {
    font-family: var(--font-secondary);
    font-size: 20px;
    letter-spacing: 6px;
    font-weight: 800;
    margin-top: 20px;
}
.statistics-section__text {
    color: var(--c-grey);
    font-size: 17px;
    margin: 30px;
}

.benefits-section {
    background-color: var(--c-light-grey);
}
.benefits-section-container {
    padding-top: 105px;
    padding-bottom: 105px;
    width: 1130px;
}
.benefits-section__box {
    height: 370px;
    background-color: var(--c-white);
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: 40px;
}
.benefits-section__box--left {
    flex-direction: row-reverse;
}
.box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 35px;
}
.box-line {
    width: 330px;
    height: 4px;
}
.box-line-redish {
    background-color: var(--c-redish);
}
.box-line-blue {
    background-color: var(--c-primary);
}
.box-line-green {
    background-color: var(--c-green);
}
.box-title {
    font-family: var(--font-secondary);
    font-size: 36px;
    padding-bottom: 30px;
    line-height: 1.15em;
}
.box-text {
    font-size: 16px;
    padding-bottom: 50px;
    line-height: 1.3em;
}
.box-img{
    position: relative;
}
.box-picture {
    width: 430px;
    margin: 30px 70px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    z-index: 100;
    position: relative;
}
.box-picture-first {
    height: 300px;
    background-image: url("../assets/macbook.png");
}
.box-picture-second {
    height: 330px;
    background-image: url("../assets/iphone.png");
}
.box-square {
    width: 180px;
    height: 180px;
    background-color: var(--c-redish);
    border-radius: 41px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-25%, 25%) rotate(45deg);
    z-index: 2;
}
.box-circle {
    width: 320px;
    height: 320px;
    background-color: var(--c-primary);
    border-radius: 50%;
    position: absolute;
    top: 12px;
    left: 0;
    transform: translateX(25%);
    z-index: 2;
}

.container-box-double {
    display: flex;
    justify-content: space-between;
    height: 370px;
    margin-bottom: 0;
}
.benefits-section__box--double {
    width: 620px;
}
.box-first {}
.box-second {
    width: 440px;
    background-color: var(--c-green);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-second-img {
    width: 300px;
    height: 200px;
    background-image: url("../assets/trumpet.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.prices-section {}
.prices-section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
}
.prices-section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 40px;
}

.prices-section__price-box {
    width: 370px;
    /*height: 460px;*/
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.price-box--big {
    width: 400px;
    /*height: 500px;*/
    box-shadow: 5px 10px 27px #07ACE629;
}
.price-box--big .price-box__title {
    font-size: 21px;
}
.price-box--big .price-box__list-el {
    margin: 25px 0;
}

.price-box--first {
    border: 1px solid var(--c-redish);
}
.price-box--center {
    border: 1px solid var(--c-primary);
}
.price-box--last {
    border: 1px solid var(--c-green);
}

.price-box__details {
    margin-top: 34px;
    margin-bottom: 60px;
    text-align: center;
}
.price-box--first .price-box__details {
    margin-bottom: 90px;
}
.price-box__title {
    font-family: var(--font-secondary);
    font-size: 20px;
    color: var(--c-navy);
    font-weight: 700;
}
.price-box__price {
    font-weight: 300;
    font-size: 46px;
    margin-top: 20px;
}
.price-box--first .price-box__price {
    color: var(--c-redish);
}
.price-box--center .price-box__price {
    color: var(--c-primary);
}
.price-box--last .price-box__price {
    color: var(--c-green);
}

.price-box__subtext {
    font-size: 12px;
    font-family: var(--font-secondary);
    font-weight: 700;
    color: var(--c-navy);
    margin-top: 20px;
}
.price-box__list {
    text-align: center;
    margin-bottom: 60px;
}
.price-box__list-el {
    font-size: 14px;
    margin: 20px 0;
}
.price-box__list-el::before {
    content: '';
    background-image: url("../assets/checkmark-2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 2px;
    display: inline-block;
    width: 11px;
    height: 11px;
    padding-left: 5px;
}
.price-box__list-el--not {}
.price-box__list-el--not::before {
    content: '';
    background-image: url("../assets/close.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 2px;
    display: inline-block;
    width: 11px;
    height: 11px;
    padding-left: 5px;
}

.price-box__btn {
    height: 50px;
    border-radius: 23px;
    color: var(--c-white);
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    padding: 16px 64px;
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
}
.price-box--first .price-box__btn {
    background-color: var(--c-redish);
}
.price-box--center .price-box__btn {
    background-color: var(--c-primary);
}
.price-box--last .price-box__btn{
    background-color: var(--c-green);
}

.contact-section {}
.contact-section-container {
    max-width: 900px;
    margin-top: 150px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.contact-section__description {}
.description-title {
    font-family: var(--font-secondary);
    font-size: 39px;
}
.description-text {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.description-data {
    display: flex;
    align-items: center;
}
.description-data__email, .description-data__phone {
    color: var(--c-grey);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 30px;
}
.description-data__img {
    width: 27px;
    height: 27px;
}

.contact-section__form {
    width: 50%;
}
.form-row {
    margin-bottom: 20px;
}
.form-label{
    font-size: 11px;
    font-weight: 700;
    color: var(--c-primary);
    text-transform: uppercase;
    letter-spacing: 3px;
}
.form-control {
    height: 30px;
    width: 100%;
    padding: 0 10px;
    border: none;
    border-bottom: 1px solid var(--c-grey);
}

.form-checkbox {
    display: flex;
}
.form-checkbox__input {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid #95989A;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-right: 8px;
    flex-shrink: 0;
    cursor: pointer;
}
.form-checkbox__input:checked {
    background-image: url("../assets/checkmark.svg");
    background-position: center;
    background-repeat: no-repeat;
}
.form-checkbox__label {
    color: var(--c-dark-grey);
    font-size: 12px;
    line-height: 1.3em;
}

.form-row--last {
    display: flex;
    justify-content: flex-end;
}
.form-btn {
    background-color: var(--c-primary);
    border-radius: 35px;
    border: none;
    font-weight: 700;
    font-size: 13px;
    color: var(--c-white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 100px;
}


.page-footer {
    box-shadow: 0 -5px 40px #00000029;
}
.page-footer-container {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content {}
.footer-content__logo {
    font-size: 26px;
    margin-bottom: 7px;
}
.footer-content__copyright {
    font-size: 11px;
    color: var(--c-grey);
}

.footer-socialmedia {}
.socialmedia-logo {
    width: 24px;
    height: 24px;
    padding: 10px;
}

