
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Raleway', sans-serif;
$c-primary: #08a6e4;
$c-primary-shadow: rgba(7, 172, 230, .16);
$c-redish: #FB3B64;
$c-green: #55DFB4;
$c-black: #000000;
$c-navy: #13253B;
$c-grey: #A5A5A5;
$c-light-grey: #F7F7F7;
$c-dark-grey: #707070;
$c-white: #ffffff;
