.benefits-section {
  background-color: $c-light-grey;
  padding-top: 70px;
  @media (max-width: 780px) {
    padding-top: 40px;
  }

  &-container {
    padding-top: 30px;
    padding-bottom: 105px;
    max-width: 1130px;
    @media (max-width: 780px) {
      padding-bottom: 70px;
    }
  }

  &__box {
    min-height: 370px;
    background-color: $c-white;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: 40px;
    @media (max-width: 690px) {
      flex-direction: column-reverse;
    }

    &--left {
      flex-direction: row-reverse;
      @media (max-width: 690px) {
        flex-direction: column-reverse;
      }
    }
  }
}

.box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 35px;
  min-width: 50%;
}

.box-line {
  width: 70%;
  height: 4px;
  @media (max-width: 690px) {
      display: none;
    }

  &-redish {
    background-color: $c-redish;
  }

  &-blue {
    background-color: $c-primary;
  }

  &-green {
    background-color: $c-green;
  }
}

.box-title {
  font-family: $font-secondary;
  font-size: 36px;
  padding-bottom: 30px;
  line-height: 1.15em;
  @media (max-width: 690px) {
      padding-top: 20px;
  }
}

.box-text {
  font-size: 16px;
  padding-bottom: 30px;
  line-height: 1.3em;
}

.box-img {
  position: relative;
  min-width: 50%;

  .box-square {
    width: 180px;
    height: 180px;
    background-color: $c-redish;
    border-radius: 41px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-30%, 20%) rotate(45deg);
    @media (max-width: 690px) {
      width: 100px;
      height: 100px;
      transform: translate(-70%, 20%) rotate(45deg);
    }
  }

  .box-circle {
    width: 320px;
    height: 320px;
    background-color: $c-primary;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    left: 15px;
    @media (max-width: 690px) {
      width: 140px;
      height: 140px;
      top: 5%;
      left: 30%;
    }
  }
}

.box-picture {
  width: 430px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;

  &-first {
    height: 300px;
    background-image: url("../assets/macbook.png");
    position: relative;
    z-index: 999;
    @media (max-width: 780px) {
      transform: translate(-30px, 10px);
    }
    @media (max-width: 690px) {
      height: 120px;
      transform: translate(0, 35px);
    }
  }

  &-second {
    height: 330px;
    background-image: url("../assets/iphone.png");
    position: relative;
    z-index: 999;
    transform: translate(0, 10%);
    @media (max-width: 780px) {
      height: 310px;
    }
    @media (max-width: 690px) {
      height: 150px;
    }
  }
}

.container-box-double {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  @media (max-width: 690px) {
      flex-direction: column;
    }
}

.benefits-section__box--double {
  max-width: 620px;
  min-height: 300px;
}

.box-second {
  width: 440px;
  background-color: $c-green;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 690px) {
      width: 100%;
    }

  &-img {
    width: 300px;
    height: 200px;
    background-image: url("../assets/trumpet.png");
    background-position: top;
    background-size: auto 20vh;
    background-repeat: no-repeat;
  }
}

