.benefits-section {
  background-color: $c-light-grey;

  &-container {
    padding-top: 105px;
    padding-bottom: 105px;
    width: 1130px;
  }

  &__box {
    height: 370px;
    background-color: $c-white;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: 40px;

    &--left {
      flex-direction: row-reverse;
    }
  }
}

.box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px 35px;
}

.box-line {
  width: 330px;
  height: 4px;

  &-redish {
    background-color: $c-redish;
  }

  &-blue {
    background-color: $c-primary;
  }

  &-green {
    background-color: $c-green;
  }
}

.box-title {
  font-family: $font-secondary;
  font-size: 36px;
  padding-bottom: 30px;
  line-height: 1.15em;
}

.box-text {
  font-size: 16px;
  padding-bottom: 50px;
  line-height: 1.3em;
}

.box-img {
  position: relative;
}

.box-picture {
  width: 430px;
  margin: 30px 70px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  z-index: 100;
  position: relative;

  &-first {
    height: 300px;
    background-image: url("../../assets/macbook.png");
  }

  &-second {
    height: 330px;
    background-image: url("../../assets/iphone.png");
  }
}

.box-square {
  width: 180px;
  height: 180px;
  background-color: $c-redish;
  border-radius: 41px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-25%, 25%) rotate(45deg);
  z-index: 2;
}

.box-circle {
  width: 320px;
  height: 320px;
  background-color: $c-primary;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: 0;
  transform: translateX(25%);
  z-index: 2;
}

.container-box-double {
  display: flex;
  justify-content: space-between;
  height: 370px;
  margin-bottom: 0;
}

.benefits-section__box--double {
  width: 620px;
}

.box-first {
}

.box-second {
  width: 440px;
  background-color: $c-green;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  &-img {
    width: 300px;
    height: 200px;
    background-image: url("../../assets/trumpet.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}