.open-section {
  //height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;

  &__title {
    font-size: 49px;
    font-family: $font-secondary;
  }

  &__text {
    margin-top: 25px;
    font-size: 16px;
  }

  &__link {
    text-decoration: none;
    color: $c-white;
    font-size: 16px;
    font-weight: 700;
    background-color: $c-primary;
    box-shadow: $c-primary-shadow;
    border-radius: 40px;
    height: 70px;
    padding: 20px 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  &__img {
    width: 100%;
  }
}