.open-section {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  background-image: url("../assets/background.png");
  background-position: center bottom;
  background-repeat: no-repeat;


  &__title {
    font-size: 49px;
    font-family: $font-secondary;
  }

  &__text {
    margin-top: 25px;
    font-size: 16px;
  }

  &__link {
    text-decoration: none;
    color: $c-white;
    font-size: 16px;
    font-weight: 700;
    background-color: $c-primary;
    box-shadow: $c-primary-shadow;
    border-radius: 40px;
    height: 70px;
    width: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

  }

}

@media (max-width: 855px) {
  .open-section {
    background-size: auto 30vh;
  }
}


@media (max-width: 720px) {
  .open-section {
    margin-bottom: 0;

    &__text {
      padding: 0 70px;
      text-align: center;
      line-height: 1.3em;
    }
  }
}

