.page-footer {
  box-shadow: 0 -5px 40px #00000029;

  &-container {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-content {
  &__logo {
    font-size: 26px;
    margin-bottom: 7px;
  }

  &__copyright {
    font-size: 11px;
    color: $c-grey;
  }
}

.footer-socialmedia {
  &-logo {
    width: 24px;
    height: 24px;
    padding: 10px;
  }
}
