.statistics-section {
  &__title {
    font-family: $font-secondary;
    font-size: 36px;
    text-align: center;
  }

  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
  }

  &__col {
    padding: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-height: 168px;
    position: relative;

    &::before {
      content: "";
      width: 55px;
      height: 55px;
      border-radius: 50%;
      background-color: $c-redish;
      position: absolute;
      top: 0;
    }

    &:nth-of-type(2)::before {
      background-color: $c-primary;
    }

    &:last-of-type::before {
      background-color: $c-green;
    }
  }


  &__img {
    height: 44px;
    /*width: 52px;*/
    z-index: 9999;
    position: relative;
    left: 20px;
  }

  &__number {
    font-family: $font-secondary;
    font-size: 20px;
    letter-spacing: 6px;
    font-weight: 800;
    margin-top: 20px;
  }

  &__text {
    color: $c-grey;
    font-size: 17px;
    margin: 30px;
  }
}

